body {
    background-image: $body-bg;
}

// Sidebar
.v-sidebar-menu .vsm--link_level-1 .vsm--icon 
{
    width: 20px !important;
    height: 20px !important;
    margin-left: 5px;
}

.navbar
{
    padding: 0px !important;
}

/* Form */
.required 
{ 
    color: $required;
}
.error
{
    color: $error;
}
/* Fim form */

/* Panel */
.bordas 
{
    border-radius: 10px;
}
.borda-top 
{
    border-radius: 8px 8px 0px 0px;
}
/* Fim panel */